@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);

  --font-size-quote: 28px;
  --ff-primary: "Manrope", sans-serif;
  --fw: 800;

  --fs-header-d: 0.8125rem;
  --fs-header-m: 0.6875rem;
  --fs-header: var(--fs-header-d);
  
  --ls-header: 0.2162rem;

  --fs-quote-d: 1.75rem;
  --fs-quote-m: 1.5rem;
  --fs-quote: var(--fs-quote-d);
  
  --ls-quote: -0.0187rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-weight: var(--fw);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--darkblue);
  text-align: center;
}

.App {
  background-color: var(--dark-grayish-blue);
  padding: 3rem 3rem 4.5rem;
  border-radius: .9375rem;
  position: relative;
  width: 33.75rem;
}

h1 {
  color: var(--neon-green);
  font-size: var(--fs-header);
  text-transform: uppercase;
  letter-spacing: var(--ls-header);
}
.advice-header {
  margin-block-end: 1.5rem;
}

q {
  color: var(--light-cyan);
  font-size: var(--font-size-quote);
  letter-spacing: var(--ls-quote);
}

.advice-quote {
  margin-block: 1.5rem 2.5rem;
}

.divider {
  width: 100%;
  background-image: url("/images/pattern-divider-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 1rem;
}
.btn-container {
  position: absolute;
  width: 100%;
  bottom: -2rem;
  left: 0;
}

.btn {
  width: 4rem;
  height: 4rem;
  background-image: url(/images/icon-dice.svg);
  background-color: var(--neon-green);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

}

.btn:hover {
  box-shadow: 0px 0px 2.5rem #53FFAA;
}

@media (max-width: 768px) {
  #root {
    margin-inline: 1rem;
  }

  .App {
    width: 100%;
    padding: 2.5rem 1.5rem 4rem;
  }

  .divider {
    background-image: url("/images/pattern-divider-mobile.svg");
  }

  .advice-quote {
    margin-block: 1.5rem;
  }

  .advice-header {
    margin-block-end: 1rem;
  }

  h1 {
    font-size: var(--fs-header-m);
  }

  q {
    font-size: var(--fs-quote-m);
  }
}