@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);

  --font-size-quote: 28px;
  --ff-primary: 'Manrope', sans-serif;
  --fw-quote: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--darkblue);
}

.App {
  background-color: var(--dark-grayish-blue);
}

h1{
  color: var(--neon-green);
}
